@import "materialize";
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav{
  background-color: #FF355E !important;
}

footer{
  background-color: #FF355E !important;
}

.footer-copyright
{
  background-color: #FF355E !important;
}

.sign-up-form{
  padding-top: 30px;
}

.footer-space{
  padding-right: 10px;
}

.underline{
  text-decoration: underline;
}

.leave{
  height: 18px;
  line-height: 18px;
  background-color: indianred;
}

.leave:hover{
  background-color: rgb(245, 145, 145);
}

.radio-button{
  opacity: 100 !important;
  border-radius: 5px !important;
  
}

.row{
  margin-bottom: 15px !important;
}

i.icon-yellow
{
    color: rgb(255, 238, 0);
}

.card .card-title{
  font-size: 20px !important;
  color: #ffab40;
}

select{
  opacity: 100%;
  width: 18.5%;
}