@import "materialize";
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav{
  background-color: #FF355E !important;
}

footer{
  background-color: #FF355E !important;
}

.footer-copyright
{
  background-color: #FF355E !important;
}

.sign-up-form{
  padding-top: 30px;
}

.footer-space{
  padding-right: 10px;
}

.underline{
  text-decoration: underline;
}

.leave{
  height: 18px;
  line-height: 18px;
  background-color: indianred;
}

.leave:hover{
  background-color: rgb(245, 145, 145);
}

.select-mentor{
  opacity: 100 !important;
  border-radius: 5px !important;
  margin-left: 150px;
  width: 220px;
  
}

.row{
  margin-bottom: 15px !important;
}

i.icon-yellow
{
    color: rgb(255, 238, 0);
}

.card .card-title{
  font-size: 20px !important;
  color: #ffab40;
}

select{
  opacity: 100%;

}

div .course-detail
{
 align-self: start;
}

.skill{
  background-color:#ffab40 ;
  color:blue
}

.finder{
  width: 70% !important;
}

.finder-box{
  display:inline-block !important;  
}

.right-aligned{
  text-align: right !important;
  padding-left: 200px !important;
}