<footer class="page-footer">
 <!-- <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Mentoring Program</h5>
        <p class="grey-text text-lighten-4">The future of Knownledge Sharing.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>-->
  <div class="footer-copyright">
    <div class="container">
    © 2023 Factorial Learning Programs
    <a class="grey-text text-lighten-4 right" href="#!">Help</a>
    <a class="grey-text text-lighten-4 right footer-space" href="#!">Contact Us</a>
    <a class="grey-text text-lighten-4 right footer-space" href="#!">About</a>
    </div>
  </div>
</footer>